/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html,
body {
	min-height: 100%;
	height: 100%;
}

body {
	font-family: 'Odibee Sans',
	cursive;

	background-image: linear-gradient(-205deg, #FF3CAC 0%, #562B7C 0%, rgb(30, 86, 126) 100%);
}

ul,
ol {
	padding: 0;
	margin: 0;
}


.timer {
	padding: 2rem;
	margin-top: 5rem;
	margin-top: 5rem;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	box-shadow: 0 0.3rem 1rem 0.3rem rgba(138, 27, 172, 0.04)
}

.timer__title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.4rem;
	font-weight: bold;
	color: #fff;
}
.timer-wrapper {
	display: flex;
	justify-content: center;
	box-sizing: border-box; 
	width: 100%;
	flex-wrap: wrap;
}
.timer-wrapper__box {
	padding: 0.5rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	color: #fff;
	/* border: 0.2rem solid#1B2045; */
	box-shadow: 0 0.3rem 1rem 0.3rem rgba(138, 27, 172, 0.04);
	background: rgba(102, 65, 133, 0.425);
}
.timer-wrapper__box:last-child {
	margin-right: 0;
}

.timer-wrapper__title {
	font-size: 1rem;
	margin-bottom: 0.5rem;
	text-align-last: right;
	color: rgb(207, 172, 209);
}
.timer-wrapper__descr {
	text-align: right;
	font-size: 1.5rem;
}